@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="container">
        <section class="jumbotron text-center"  style="background-color:white">
            <h1 class="jumbotron-heading">Site Induction</h1>
            <div class="container" style="padding-top:10px">
                <p class="lead text-muted center-block text-justify">Introducing the Daiken Southland site Induction System! This interactive presentation is designed to introduce you to Diaken Southland safety procedure before you enter the site. To make sure that you understand all the information provided, there will be a quiz so be prepared when you have read through the tutorial.</p>
                <p class="alert-info"> If you do not have a valid email address then click Login as Guest.</p>
                <div class="container-fluid">
                    <p>
                        <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary btn-lg">Continue to Login</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- BEGIN #MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img" id="img_logo" src="~/images/Daiken_SouthLand_LTD.svg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms" >

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right" style="background-color:white"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            <button id="login_guest_btn" type="button" class="btn btn-link">Guest</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->
                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right" style="background-color:white"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            <button id="lost_guest_btn" type="button" class="btn btn-link">Guest</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->
                <!-- Begin | Register Form -->
                <form id="register-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right" style="background-color:white"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
                        <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="register_guest_btn" type="button" class="btn btn-link">Guest</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->
                <!-- Start | Guest form-->
                <form id="guest-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-guest-msg">
                            <div id="icon-guest-msg" class="glyphicon glyphicon-chevron-right" style="background-color:white">
                            </div>
                            <span id="text-guest-msg">Type your Firstname, Lastname, Company</span>
                        </div>
                        <input id="guest_firstname" class="form-control" type="text" placeholder="Firstname (type ERROR for error effect)" required>
                        <input id="guest_lastname" class="form-control" type="text" placeholder="Lastname (type ERROR for error effect)" required>
                        <input id="guest_password" class="form-control" type="text" placeholder="Company">
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="guest_login_btn" type="button" class="btn btn-link">Login</button>
                            <button id="guest_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="guest_register_btn" type="button" class="btn btn-link">Register</button>
                            
                        </div>
                    </div>
                </form>
                <!--End | Guest form-->
            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->