
@{
    ViewData["Title"] = "Induction";
}

<div class="container-fluid">
    <div id="landing">
        <div class="container">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Site Induction</h1>
                    <p class="lead text-muted center-block text-justify">Type of Induction</p>
                    <div class="container-fluid">
                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Simple Induction</a>
                            <a href="#" class="btn btn-primary btn-lg">HotWork Induction</a>
                            <a href="#" class="btn btn-primary btn-lg">Complex Induction</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--Simple test-->
    <div id="simple_test" style="display:none;">
        <div class="container">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Basic Induction</h1>
                    <p class="lead text-muted center-block text-justify">There will be a randomly chosen 15 question quiz, any wrong answers you will have to restart from the beginning!</p>
                    <div class="container-fluid">
                        <p>
                            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary btn-lg">Begin Simple </a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="hard_test" style="display:none;">
        <div class="container">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Hard Induction</h1>
                    <p class="lead text-muted center-block text-justify">There will be a randomly chosen 20 question quiz, any wrong answers you will have to restart from the beginning!</p>
                    <div class="container-fluid">
                        <p>
                            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary btn-lg">Begin Simple </a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="hot_test" style="display:none;">
        <div class="container">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Hot Work Induction</h1>
                    <p class="lead text-muted center-block text-justify">There will be a randomly chosen 20 question quiz, any wrong answers you will have to restart from the beginning!</p>
                    <div class="container-fluid">
                        <p>
                            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary btn-lg">Begin Simple </a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

